<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
            http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">

    <display-name>Foundational Project</display-name>

    <context-param>
        <param-name>test-context-key</param-name>
        <param-value>test-context-value</param-value>
    </context-param>

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.revature.reimbursement.servlets.TestServlet</servlet-class>

        <init-param>
            <param-name>test-init-key</param-name>
            <param-value>test-init-value</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    
    <listener>
        <listener-class>com.revature.reimbursement.util.ContextLoaderListener</listener-class>
    </listener>
</web-app>